<!-- Launch file for init tracking, finds a square in the image -->
<launch>
  <!-- camera driver -->
  <!--<node name="davis_ros_driver" pkg="davis_ros_driver" type="davis_ros_driver" />-->

  <!-- visualization -->
  <node name="track_init" pkg="track_init" type="track_init">
    <remap from="image" to="/dvs/image_raw" />
    <remap from="rendering" to="/track_init_rendering" />
    <!--<remap from="camera_info" to="/dvs/camera_info" />-->
  </node>

  <!-- display -->
  <node name="image_view" pkg="image_view" type="image_view">
  	<remap from="image" to="/track_init_rendering"/>
  </node>
</launch>